<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xidian.mybatis.UserModelMapper">
	<!--测试存储过程来获取用户数量-->
	<select parameterType="java.util.Map" id="selectUserByGender" statementType="CALLABLE">
		{CALL test_db.GET_USER_COUNT(#{genderNumber,jdbcType = INTEGER,mode = IN},#{userCount,jdbcType = INTEGER,mode = OUT})}
	</select>
	<select id="getAllUser" resultType="cn.xidian.mybatis.UserModel">
		select id,username,gender from users
	</select>
	<select id="getAllAccounts" resultType="cn.xidian.mybatis.Account">
		SELECT aid,accname,accmoney from account
	</select>
</mapper>